.custom-form.forgot-pass {
  width: 528px;
  height: 422px;
  padding: 64px 56px 48px 56px;
  position: relative;
}

.login-in-link.upper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0px 20px 16px;
  gap: 16px;
  height: 64px;
  background: #f9f9fa;
  border-radius: 16px 16px 0px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #727272;
}

@media only all and (max-width: 640px) {
.custom-form.forgot-pass{
  width: 288px;
  flex-basis: content;
  padding: 76px 16px 48px 16px;
  /* height: 482px; */
}
}