.main-container {
  display: flex;
  flex: 1;
  position: relative;
  
}
.profile-page .main-container {
padding:47px 165px;
display: flex;
flex: 1;
position: relative;

}
.profile-page footer {
  padding-left:165px;
  padding-right:165px;
}
@media only all and (max-width: 1280px) {
  .profile-page .main-container {
    padding:32px 64px;
    }

}
@media only all and (max-width: 568px) {
  .profile-page .main-container {
    padding:32px 16px;
    }

}