* {
  font-family: 'Montserrat';
  font-style: normal;
}

.container {
  position: fixed;
  z-index: 8;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
}
.book-rating  {
flex-basis: content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  gap: 32px;
  isolation: isolate;
  position: absolute;
  width: 528px;
  /* height: 508px; */
  background: #ffffff;
  border-radius: 16px;

}

.book-rating__container {

  display: flex;
  flex-direction: column;
  gap:32px;
  }
  .book-rating__container >h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    
    text-align: center;
    letter-spacing: 0.1px;
    
    /* main/dark */
    
    color: #363636;
    
  }
  
  .your-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.your-rate_rate {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;

  /* main/dark */

  color: #363636;
}
.your-rate_stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 258px;
  height: 35px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.book-rating__container > textarea {
  width: 416px;
  height: 132px;
  background: #f9f9fa;
  border-radius: 4px;
  border: none;
  padding: 19px 12px;

  font-weight: 400;
font-size: 16px;

/* identical to box height, or 150% */

letter-spacing: 0.1px;

/* main/dark */

color: #363636;


}
textarea:placeholder-shown {
  padding: 19px 12px;

  font-weight: 400;
  font-size: 14px;

  /* identical to box height, or 129% */

  letter-spacing: 0.1px;

  /* grey/black 40 */

  color: #a7a7a7;

  mix-blend-mode: normal;
}



textarea:focus-visible {
  outline: none;
}
.rate-cross {

position: absolute;
width: 48px;
height: 48px;
right: 32px;
top: 32px;
 background: #f9f9fa;
 border-radius: 50%;
 
}
.rate-cross__icon {
  width:24px;
  height: 24px;
position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .rate-cross__icon path {

stroke:#F83600;
/* color:#F83600; */
} 



@media only all and (max-width: 640px) {
  .book-rating  {
    padding: 42px 16px 32px;
    gap: 24px;

    width: 288px;
   
  
  }

  .book-rating__container >h1 {
    font-size: 18px;
    line-height: 28px;
  }

  .book-rating__container > textarea {
    width: 100%;

  }
  
  .rate-cross {


    width: 32px;
    height: 32px;
top:16px;
right: 16px;
     
    }
    
    .your-rate_stars {
     
      height: 26.67px;
    
    }
    
    .rate-cross__icon {
      width: 15px;
      height: 15px;
    }
}




