.main-page,
.terms-of-use,
.the-public-offer {
  min-height: 100vh;
  flex-direction: column;
  position: absolute;
  left: 165px;
  right: 165px;
  top: 32px;
  display: flex;
  justify-content: space-between;
}

@media only all and (max-width: 1280px) {
  .main-page.mobile,
  .terms-of-use.mobile,
  .the-public-offer.mobile {
    padding: 0 64px;
    position: static;
  }
}

@media only all and (max-width: 568px) {
  .main-page.mobile,
  .terms-of-use.mobile,
  .the-public-offer.mobile {
    padding: 0 16px;
  }
}
