.content {
  display: flex;
  flex-direction: column;
  padding: 47px 0;
  width: 100%;
  margin-left: 6px;
}

@media only all and (max-width: 1280px) {
  .content.mobile {
    margin-left: 0;
    padding-top: 30px;
  }
}

@media only all and (max-width: 640px) {
  .content.mobile {
    padding-top: 11px;
  }

  .content.terms,
  .content.treaty {
    padding: 24px 0;
  }
}
