.log-in-question {
  text-align: left;
}

.custom-form.result.newpass {
  width: 600px;
  height: 290px;
}
.btn-and-link-to-auth-page.newpass {
  padding-top: 16px;
}
.custom-form.result.newpass > a {
  width: 100%;
}
