.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list input:first-of-type::placeholder {
  background: url('../../images/search.png') no-repeat;
  opacity: 0.9;
  color: #a7a7a7;
  padding-left: 24px;
  letter-spacing: 0.1px;
}

input[type='button'] {
  background: url('../../images/filter.png') no-repeat;
  opacity: 0.9;
  color: #a7a7a7;
  padding-left: 40px;
  letter-spacing: 0.1px;
  background-position: 16px;
}

.nav-list__search,
.nav-list__filter,
.forms_form-of-list,
.forms_form-of-tiles {
  height: 38px;
  border-radius: 599px;
  width: 350px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  background: #ffffff;
  border: none;
  padding: 10px 16px;
}

.nav-list__search {
  width: 350px;
}

.nav-list__filter {
  margin-left: 16px;
  width: 150px;
}

.nav-list__forms {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 38px;
}

.forms_form-of-list,
.forms_form-of-tiles {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 9.5px;
  margin-left: 16px;
}

.forms_form-of-list.list,
.forms_form-of-tiles.tiles {
  border-radius: 50%;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.forms_form-of-list > svg,
.forms_form-of-tiles > svg {
  width: 19px;
  height: 19px;
}

svg path,
svg path {
  stroke: #a7a7a7;
  color: #a7a7a7;
}

.tiles path,
.list path {
  stroke: #ffffff;
  color: #ffffff;
  fill: #ffffff;
}
.logo {
  fill: tomato;
}

.logo:hover {
  fill: purple;
}

.close {
  display: none;
}
.nav-list__search.mobile:focus-visible {
  outline: none;
}
.nav-list__search {
  caret-color: #f83600;
}
@media only all and (max-width: 1024px) {
  .nav-list__search.mobile {
    width: 274px;
  }

  .nav-list__filter.mobile {
    width: 150px;
  }
}

@media only all and (max-width: 960px) {
  .nav-list__search.mobile {
    width: 220px;
  }
}

@media only all and (max-width: 640px) {
  .nav-list__search.mobile,
  .nav-list__filter.mobile {
    align-items: center;
    padding: 8px;
    width: 32px;
    height: 32px;
  }

  .nav-list input:first-of-type::placeholder {
    display: none;
  }

  input[value='По рейтингу'] {
    color: transparent;
  }

  input[type='button'] {
    background-position: 8px;
  }

  .nav-list__forms.searchIsOpened,
  .nav-list__filter.mobile.searchIsOpened {
    display: none;
  }

  .nav-list__inputs.searchIsOpened,
  .nav-list__search.mobile.searchIsOpened {
    width: 100%;
  }

  .nav-list__search.mobile.searchIsOpened::placeholder {
    background: none;
    /* opacity: 0;  */
    padding-left: 0px;
  }

  .nav-list__search.mobile.searchIsOpened:focus-visible {
    outline: none;
  }
  .nav-list__search.mobile.searchIsOpened {
    padding-left: 16px;
  }

  .close.searchIsOpened {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;

    /* z-index: 1000; */
  }

  .close path {
    stroke: #f83600;
    color: #f83600;
    fill: #f83600;
  }
  .close {
    width: 16px;
    height: 16px;
  }
}
