* {
  font-family: 'Montserrat';
  font-style: normal;
}

.container {
  position: fixed;
  z-index: 8;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
}
.book-rating  {
flex-basis: content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  gap: 32px;
  isolation: isolate;
  position: absolute;
  width: 528px;
  /* height: 508px; */
  background: #ffffff;
  border-radius: 16px;

}
@media only all and (max-width: 640px) {
  .book-rating  {
    padding: 42px 16px 32px;
    gap: 24px;

    width: 288px;
   
  
  }



}
